{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Passivo</title>
    <link rel="stylesheet" href="{% static 'css/styleAddActivo.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Adicionar Passivo</h1>

        <form method="post" class="form">
            {% csrf_token %}
            {{ passivo_form.as_p }}
            
            <button type="submit" class="btn">Adicionar Passivo</button>
        </form>

        <a class="button" href="{% url 'balanco_patrimonial' %}" class="link">Voltar ao Balanço Patrimonial</a>
    </div>
</body>
</html>
