{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Ativo</title>
    <link rel="stylesheet" href="{% static 'css/styleAddActivo.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Adicionar Ativo</h1>

        <form method="post" class="form">
            {% csrf_token %}
            {{ ativo_form.as_p }}
            <button type="submit" class="btn">Adicionar Ativo</button>
        </form>
    <div class="botoes">
        <a class="voltar" href="{% url 'balanco_patrimonial' %}"> Voltar ao Balanço Patrimonial</a>
        <a class="voltar" href="{% url 'ativos_listagem' %}" > Visualizar Ativos</a>
        <a class="voltar" href="{% url 'passivos_listagem' %}" >Visualizar Passivos</a>
       
    </div>
</div>  
</body>
</html>

