{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ativos</title>
    <link rel="stylesheet" href="{% static 'css/styleViews.css' %}">
</head>
<body>
    <div class="container">
    <h1>Lista de Ativos</h1>
    <ul>
        {% for ativo in ativos %}
    <p>
        {{ ativo.nome }} -  {{ ativo.valor }} MT
        <a href="{% url 'editar_ativo' ativo.id %}">Editar</a>
        <a id="apagar" href="{% url 'apagar_ativo' ativo.id %}">Apagar</a>
    </p>
{% endfor %}

    </ul>
<div class="botoes">
    <a class="voltar" href="{% url 'balanco_patrimonial' %}">Voltar ao Balanço Patrimonial</a>
    <a class="voltar" href="{% url 'adicionar_ativo' %}" class="link">Adicionar Ativo</a>
    <a class="voltar" href="{% url 'passivos_listagem' %}" class="link">Visualizar Passivos</a>
</div>
</div>
</body>
</html>
