<!DOCTYPE html>
<html>
<head>
    <title>Balanço Patrimonial</title>
</head>
<body>
    <h1>Balanço Patrimonial</h1>

    <h2>Total Ativos: {{ total_ativos }} MT</h2>
    <h2>Total Passivos: {{ total_passivos }} MT</h2>
    <h2>Patrimônio Líquido: {{ patrimonio_liquido }} MT</h2>

    <a href="{% url 'ativos_listagem' %}">Visualizar Todos Ativos</a>
    <a href="{% url 'passivos_listagem' %}">Visualizar Todos Passivos</a>
    <a href="{% url 'adicionar_ativo' %}">Adicionar Ativo</a>
    <a href="{% url 'adicionar_passivo' %}">Adicionar Passivo</a>
</body>
</html>
