{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Passivos</title>
    <link rel="stylesheet" href="{% static 'css/styleViews.css' %}">
</head>
<body>
    <div class="container">
    <h1>Lista de Passivos</h1>

    <ul>
        {% for passivo in passivos %}
        <p>
            {{ passivo.nome }} -  {{ passivo.valor }} MT
            <a href="{% url 'editar_passivo' passivo.id %}">Editar</a>
            <a id="apagar" href="{% url 'apagar_passivo' passivo.id %}">Apagar</a>
        </p>
    {% endfor %}

    </ul>

    <div class="botoes">
        <a class="voltar" href="{% url 'balanco_patrimonial' %}">Voltar ao Balanço Patrimonial</a>
        <a class="voltar" href="{% url 'adicionar_passivo' %}" class="link">Adicionar Passivo</a>
        <a class="voltar" href="{% url 'ativos_listagem' %}" class="link">Visualizar Ativos</a>

    </div>
</div>
</body>
</html>
